@mixin btnUniversal($fontColor, $bgColor, $rad:null){
  background-color: $bgColor;
  color: $fontColor;
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  border-radius: if($rad, $rad, 4px);

  &:hover {
    background-color: darken($bgColor, 14%);
    cursor: pointer;
  }
}

@mixin btnIcon($fontColor, $bgColor){
  background-color: $bgColor;
  color: $fontColor;
  font-size: 12px;
  padding: 8px 10px;
  border: none;
  border-radius: 7px;

  &:hover {
    background-color: darken($bgColor, 14%);
    cursor: pointer;
  }
}

@mixin btnAlert($fontColor, $bgColor, $rad){
  background-color: $bgColor;
  color: $fontColor;
  font-size: 16px;
  padding: 10px 14px;
  border: none;
  border-radius: $rad;

  &:hover {
    background-color: darken($bgColor, 14%);
    cursor: pointer;
  }
}

@mixin inputForm($col, $bgColor) {
  background-color: $bgColor;
  border: none;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 4px;
  
  &::placeholder{
    font-family: "Instrument Sans", sans-serif;
    color: $col ;
    font-style: italic;
  }

  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}

@mixin selectForm($bgCol) {
  font-family: "Instrument Sans", sans-serif;
  background-color: $bgCol;
  border: none;
  margin: 10px 0;
  padding: 8px 6px;
  font-size: 14px;

  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}

@mixin textArea() {
  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
  
}

@mixin list(){
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}