@use 'sass:color';

@mixin btnUniversal($fontColor, $bgColor, $rad:null){
  background-color: $bgColor;
  color: $fontColor;
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  border-radius: if($rad, $rad, 4px);

  &:hover {
    background-color: color.adjust($bgColor, $lightness:-14%);
    cursor: pointer;
  }
}

@mixin btnIcon($fontColor, $bgColor){
  background-color: $bgColor;
  color: $fontColor;
  font-size: 12px;
  padding: 8px 10px;
  border: none;
  border-radius: 7px;

  &:hover {
    background-color: color.adjust($bgColor, $lightness:-14%);
    cursor: pointer;
  }
}

@mixin btnAlert($fontColor, $bgColor, $rad){
  background-color: $bgColor;
  color: $fontColor;
  font-size: 16px;
  padding: 10px 14px;
  border: none;
  border-radius: $rad;

  &:hover {
    background-color: color.adjust($bgColor, $lightness:-14%);
    cursor: pointer;
  }
}

@mixin inputForm($col: null, $bgCol: null) {
  background-color: if($bgCol, $bgCol, #fff);
  border: solid 1px #A6A6A6;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 4px;
  color: if($col, $col, #1B1C1E);
  width: -webkit-fill-available;
  
  &::placeholder{
    font-family: "Instrument Sans", sans-serif;
    color: if($col, $col, #1B1C1E);
    font-style: italic;
  }

  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }

  &:read-only{
    background-color: #f2f3f59e;
    color:color.adjust(if($bgCol, $bgCol, #fff), $lightness:-20%);
  }
}

@mixin selectForm($bgCol: null) {
  font-family: "Instrument Sans", sans-serif;
  background-color: if($bgCol, $bgCol, #fff);
  border: none;
  margin: 10px 0;
  padding: 8px 6px;
  font-size: 14px;
  border-radius: 4px;
  color: #1B1C1E;

  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}

@mixin textArea($bgCol: null) {
  font-family: "Instrument Sans", sans-serif;
  background-color: if($bgCol, $bgCol, #fff);
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 4px;

  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
  
}

@mixin list(){
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}