@import './main.scss';
@import 'mixin';

#publicObat{
  padding: 20px;

  &.txHash{
    .container{
      display: block;
    }
  }

  .title-menu{
    display: flex;
    align-items: center;

    .logo-obat{
      margin-right: 20px;
      img{
        width: 64px;
      }
    }
    h2{
      font-size: 26px;
      display: flex;

    }
    span{
      margin-left: 20px;
      font-size: 14px;
      color: $white;
      background-color: $purple;
      padding: 6px 12px;
      border-radius: 10px;
      display: flex;
      align-items: center;
    }
  } 

  .container{
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    margin: 20px 0 0 0;

    .data-obat{
      flex: 2;

      .section{
       background-color: #f2f2f36a; 
       padding: 10px;
       margin-bottom: 20px;
       border-radius: 6px;

       .title{
         padding: 8px 0;
         margin-bottom: 12px;
         border-bottom: solid 2px $grey-secondary;
         display: flex;
         align-items: center;
   
        h5{
          font-size: 20px;
        }
        span{
          margin-left: 20px;
          font-size: 12px;
          font-weight: 600;
          color: $black;
          padding: 6px 12px;
          width: fit-content;
          border-radius: 10px;
          background-color: $yellow;
          
          &.Completed, &.Approved {
            background-color: $green;
            color: $white;
          }
        }
       }
   
       .content{
         display: flex;
         
         .list-detail{

           ul{
             @include list();
             flex-direction: column;
   
             li{
               margin-bottom: 16px;

               .empty{
                display: none;
               }
   
               span.label{
                 display: inline-block;
                 font-weight: bold;
                 width: 200px;
               }

               span.addr{
                margin-left: 23px;
               }

               span.linked{
                margin-left: 23px;

                a{
                  color: $black;
                  text-decoration: none;
                  
                  &:hover{
                    color: $blue;
                    text-decoration: underline;
                  }
        
                  i{
                    margin-left: 6px;
                  }
                }
               }
 
               &.list-item{
                 display: flex;
 
                 span.label{
                   width: 200px;
                 }
 
                 ol{
                   padding-inline-start: 16px;
                   
                   li::marker{
                     padding-right: 10px;
                   }
                   li{
                     margin-bottom: 10px;
                   }
                 }
               }
             }
           }
         }
       }

       pre {
        white-space: pre-wrap; /* Allows the text to wrap to the next line */
        word-wrap: break-word; /* Breaks long words */
        width: 100%; /* Ensures the <pre> element spans the full width of its parent */
        box-sizing: border-box; /* Includes padding and border in the width calculation */
        overflow-wrap: break-word; /* Prevents text from overflowing */
        overflow: auto; /* Adds a scrollbar if content still overflows */
      }


      }
      
    }

  }
  
  .form-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h1{
      font-size: 26px;
      margin: 0 0 18px 0;
    }

    form{
      display: flex;
      width: -webkit-fill-available;

      &>*{
        margin-right: 10px;
      }

      input{
        @include inputForm($grey, $white);
        border: none;
        color: $black;

        &:disabled{
          background-color: $grey-secondary;
          font-style: italic;
        }
      }
      
      textarea{
        @include inputForm($grey, $white);
        border: none;
        color: $black;
        width: auto;
        font-family: "Instrument Sans", sans-serif;

        &:disabled{
          background-color: $grey-secondary;
          font-style: italic;
        }

      }
      
      select{
        @include selectForm($white)
      }

      button{
        @include btnUniversal($white, $black, 4px)
      }
    }

    p{
      font-style: italic;
      font-size: 12px;
      margin: 4px 0;

      :hover{
        font-weight: 600;
        text-decoration: underline;
      }
    }
    
    a{
      text-decoration: none;
      color: $purple;
      
    }

  }
}