@use './main.scss' as *;
@use 'mixin' as *;

.customLabelStepper{
  font-size: 14px;
  
  span.Mui-active, span.Mui-completed{
    font-family: "Instrument Sans", sans-serif;
    color: $black;
    font-weight: bold;
  }
  
  span.Mui-disabled, span.css-12eb3rq-MuiStepLabel-label{
    font-family: "Instrument Sans", sans-serif;
    // color: $grey;
    font-weight: bold;
  }

  svg.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-active, svg.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
    color: $purple;
    
    text {
      font-family: "Instrument Sans", sans-serif;
      color: $grey
    }
  }

  svg.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-disabled{
    color: $grey-light;
    
    text {
      font-family: "Instrument Sans", sans-serif;
      color: $grey
    }
  }
}


.customDescStepper{
  .css-14ek5zv-MuiCollapse-root-MuiStepContent-transition {
    overflow: visible;
    visibility: visible;
    padding-bottom: 20px;
  }

  .css-scib18-MuiCollapse-root-MuiStepContent-transition {
    margin-bottom: -20px;
  }
  p{
    font-family: "Instrument Sans", sans-serif;
    font-size: 12px;
    color: $grey;
    text-align: left;
  }
}