@import './main.scss';
@import 'mixin';

.form-swal{

  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 2px $grey-light;

  &.form{
    padding: 0 20px;
    ul{
      li{
        &.label{
          width: 20%;
        }
        &.input{
          width: 80%;
        }
      }
    }
  }

  .row1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    .produce-obat{
      // background-color: #a5dc86;
      flex: 2;
      padding-right: 14px;
    }

    .row{
      flex: 1;

      ul{
        // background-color: #a5dc86;

        li.label-sm{
          // background-color: #86947d;
          width: 18%;
          text-align: left;
          font-weight: 600;

          label{
            font-size: 13px;
            color: $black;
          }
        }

      }

      .column{
        ul{
          flex-direction: column;
        }
      }
    }
  }

  .col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .row{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    
    &--obat{
      flex-direction: row-reverse;
    }

    .col{
      // commented style for col
      // width: 49%;
      width: 100%;

      ul{
        align-items: flex-start;
        padding-bottom: 4px;
        flex-direction: row;
        // border-bottom: solid 1px $grey;

        &.numbered{
          flex-direction: column;
        }
      }

      &.col1{
        width: 40%;

        ul{
          display: flex;
          flex-direction: column;

          li.label{
            width: 100%;
          }
    
          li.input{
            width: 100%;
          }
        }
      }

      &.col2{
        width: 60%;
        ul{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  
  ul{
    @include list();
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;

    li{
      p{
        color: $black;
        font-size: 13px;
      }

      &.label{
        font-weight: 600;
        text-align: left;
        width: 32%;

        label{
          font-size: 13px;
          color: $black;
        }
      }

      &.input{
        text-align: left;
        width: 68%;
        font-size: 12px;

        select{
          @include selectForm($grey-light);
          width: 100%;
        }

        input{
          @include inputForm($black);
          width: 100%;
          padding: 6px 10px;
          font-size: 13px;   
          
          &:read-only{
            background-color: $grey-light;   
          }
        }
        &.full-width-table{
          width: 100%;
        }
      }

      
      &.select{

        select{
          margin: 0;
          background-color: transparent;
          border: solid 1px $grey;
        }

        input{
          width: 100%;
        }
      }
      

    }
    
    
  }
}

// main modal style
div:where(.swal2-container) div:where(.swal2-popup) {
  border-radius: 10px;
  font-family: "Instrument Sans", sans-serif;
  padding: 14px 0;
}

div:where(.swal2-icon){
  margin: 20px auto;
}
div:where(.swal2-container) input:where(.swal2-input), div:where(.swal2-container) input:where(.swal2-file), div:where(.swal2-container) textarea:where(.swal2-textarea), div:where(.swal2-container) select:where(.swal2-select), div:where(.swal2-container) div:where(.swal2-radio), div:where(.swal2-container) label:where(.swal2-checkbox) {
  margin: 12px 2em;
}

div:where(.swal2-container) .swal2-input {
  @include inputForm($grey, $white);
  border: solid 1px $grey;
}

div:where(.swal2-icon).swal2-success {
  border-color: #a5dc86;
  color: #a5dc86;
}

div:where(.swal2-icon).swal2-info {
  border-color: rgb(156.7033492823, 224.2822966507, 246.2966507177);
  color: #3fc3ee;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  padding: 20px 16px 4px;
  font-family: "Instrument Sans", sans-serif;
  font-size: 24px;
  color: $black;
}

div:where(.swal2-container) .swal2-html-container {
  font-family: "Instrument Sans", sans-serif;
  margin: 0;
  padding: 10px 20px;
  color: $grey;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  font-family: "Instrument Sans", sans-serif;
  @include btnAlert($white, $purple, 4px);
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
  font-family: "Instrument Sans", sans-serif;
  @include btnAlert($white, $red, 4px);
}

div:where(.swal2-container) div:where(.swal2-actions) {
  margin: 8px 0 0;
}

h5{
  font-family: "Instrument Sans", sans-serif;
  font-size: 24px;
  margin: 0;
}

p{
  font-family: "Instrument Sans", sans-serif;
  margin: 0;
  font-size: 16px;
  color: $grey;
}

ul.noList{
  list-style-type: none;
  padding: 0;
  margin: 0;
  
  li{
    margin-bottom: 4px;
  }
}

ul.numbered {
  list-style-type: decimal; 
  list-style-position: outside; 
  padding: 0;
  margin: 0;
  padding-left: 12px; 
  color: $black;
  text-align: start;

  li {
    
    p {
      display: inline; 
      margin-left: 0; 
    }
  }
}

button.addQuantity{
  @include btnIcon($white, $blue);

  i{
    margin-right: 8px;
  }
}