@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
html, body {
  font-family: "Instrument Sans", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #1B1C1E;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-page {
  padding: 10px 110px;
  height: 100%;
}

.layout-component {
  padding: 10px 110px;
}

.form-swal {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 2px rgba(242, 243, 245, 0.6196078431);
}
.form-swal.form {
  padding: 14px 20px;
}
.form-swal.form ul li.label {
  width: 26%;
}
.form-swal.form ul li.input {
  width: 74%;
}
.form-swal.form.reject-form ul li.label {
  width: 22%;
}
.form-swal.form.reject-form ul li.input {
  width: 78%;
}
.form-swal.event ul.klaim {
  align-items: flex-start;
}
.form-swal.event ul li.label {
  width: 34%;
}
.form-swal.event ul.rejectMsg li.input {
  width: 64%;
}
.form-swal .stok {
  width: 100%;
}
.form-swal .stok ul li.input {
  background-color: #1d61d6;
  padding: 8px 8px;
  width: auto;
  border-radius: 4px;
}
.form-swal .stok ul li.input p {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.form-swal .container-stepper {
  padding: 14px;
  width: 16%;
  background-color: rgba(242, 243, 245, 0.6196078431);
  border-radius: 14px;
  height: -moz-fit-content;
  height: fit-content;
  height: 252px;
}
.form-swal.order {
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.form-swal.order .row1 .row--obat ul li.input, .form-swal.order .row1 .row--obat ul li.label-sm {
  width: 100%;
}
.form-swal .row2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.form-swal .row2 .col {
  width: 100%;
}
.form-swal .row2 .col.doku {
  width: 64%;
  background-color: rgba(242, 243, 245, 0.6196078431);
  padding: 10px;
  border-radius: 4px;
  height: -webkit-fill-available;
}
.form-swal .row2 .col.doku h5 {
  font-size: 18px;
  color: #1B1C1E;
  text-align: justify;
  margin-bottom: 10px;
}
.form-swal .row2 .col.doku ul {
  flex-direction: column;
}
.form-swal .row2 .col.doku ul li.label {
  width: 100%;
}
.form-swal .row2 .col ul {
  align-items: flex-start;
}
.form-swal .row2 .col ul li.label {
  width: 26%;
}
.form-swal .row4 {
  flex-direction: column;
  width: 100%;
}
.form-swal .row4 .col .doku {
  width: initial;
  margin-bottom: 10px;
}
.form-swal .row1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.form-swal .row1 .produce-obat {
  flex: 2;
  padding-right: 14px;
}
.form-swal .row1 .row ul li.label-sm {
  width: 24%;
  text-align: left;
  font-weight: 600;
}
.form-swal .row1 .row ul li.label-sm label {
  font-size: 13px;
  color: #1B1C1E;
}
.form-swal .row1 .row .column ul {
  flex-direction: column;
  align-items: flex-start;
}
.form-swal .row1 .row .column ul li.label {
  width: 35%;
}
.form-swal .row1 .row .column-label ul {
  align-items: flex-start;
}
.form-swal .row1 .row .column-label ul li.label {
  width: 42%;
}
.form-swal .col2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-swal .row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
}
.form-swal .row.table-like .col.doku {
  background: none !important;
}
.form-swal .row.table-like .doku:has(> *:nth-of-type(2)) ul {
  border-bottom: solid 1px #ddd;
}
.form-swal .row.table-like ul li.label {
  width: 36%;
}
.form-swal .row--obat {
  flex-direction: row-reverse;
}
.form-swal .row--row {
  flex-direction: row;
  gap: 10px;
}
.form-swal .row--row .col {
  flex: 1;
}
.form-swal .row--row .container-stepper {
  width: 18%;
}
.form-swal .row .col {
  width: 100%;
}
.form-swal .row .col.doku {
  background-color: rgba(242, 243, 245, 0.6196078431);
  padding: 10px;
  border-radius: 4px;
}
.form-swal .row .col.doku h5 {
  font-size: 18px;
  color: #1B1C1E;
  text-align: justify;
  margin-bottom: 10px;
}
.form-swal .row .col.doku .doku-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.form-swal .row .col.doku .doku-1 {
  flex: 1;
}
.form-swal .row .col.doku .doku-1 ul li.label {
  width: 48%;
}
.form-swal .row .col ul {
  padding-bottom: 4px;
  flex-direction: row;
}
.form-swal .row .col ul.klaim {
  align-items: flex-start;
}
.form-swal .row .col ul.status .input p {
  color: #1B1C1E;
}
.form-swal .row .col ul.rejectMsg .input {
  width: 72%;
  background-color: rgba(242, 243, 245, 0.6196078431);
  padding: 4px 8px;
  border-radius: 6px;
  margin-left: 14px;
}
.form-swal .row .col ul.rejectMsg .input p {
  color: #1B1C1E;
}
.form-swal .row .col ul.numbered1 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  list-style: decimal;
  margin-left: 12px;
  margin-bottom: 4px;
}
.form-swal .row .col ul.numbered1 li::marker {
  color: #1B1C1E;
}
.form-swal .row .col ul.numbered {
  display: inline-table !important;
}
.form-swal .row .col ul.numbered li.klaim {
  padding: 6px 4px;
  background-color: rgba(242, 243, 245, 0.6196078431);
  margin-bottom: 4px;
  width: 100%;
  border-radius: 4px;
}
.form-swal .row .col ul.numbered li.klaim::marker {
  color: #737373;
}
.form-swal .row .col ul.numbered li.klaim p {
  font-size: 13px;
  color: #737373;
}
.form-swal .row .col.reject ul li select {
  margin: 0;
  background-color: transparent;
  border: solid 1px #A6A6A6;
}
.form-swal .row .col.reject ul li textarea {
  width: -webkit-fill-available;
}
.form-swal .row .col.reject li.select {
  display: flex;
  align-items: center;
}
.form-swal .row .col.col1 {
  width: 40%;
}
.form-swal .row .col.col1 ul {
  display: flex;
}
.form-swal .row .col.col1 ul.rejectMsg .input {
  margin-top: 6px;
  width: 84%;
  background-color: rgba(182, 25, 25, 0.1411764706);
  padding: 8px;
  border-radius: 8px;
  margin-left: -20px;
}
.form-swal .row .col.col1 ul.rejectMsg .input p {
  color: #E33333;
}
.form-swal .row .col.col1 ul li.label {
  width: 52%;
}
.form-swal .row .col.col1 ul li.input {
  width: 100%;
  padding-top: 4px;
}
.form-swal .row .col.col1 ul li.input span.linked {
  margin-left: 8px;
}
.form-swal .row .col.col1 ul.status li.input {
  padding-top: 2px;
}
.form-swal .row .col.col2 {
  width: 60%;
}
.form-swal .row .col.col2 ul {
  display: flex;
}
.form-swal .row .col.col2 ul.klaim {
  align-items: flex-start;
}
.form-swal .row .col.col3 {
  width: 44%;
}
.form-swal .row .col.col3 ul {
  display: flex;
  flex-direction: column;
}
.form-swal .row .col.col3 ul li.label {
  width: 100%;
  margin-bottom: 6px;
}
.form-swal .row .col.col3 ul li.input {
  width: 100%;
}
.form-swalregist ul {
  align-items: center;
}
.form-swal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 18px;
}
.form-swal ul.rejectMsg .input {
  width: 72%;
  background-color: rgba(182, 25, 25, 0.1411764706);
  padding: 4px 8px;
  border-radius: 6px;
  margin-left: 0;
}
.form-swal ul.rejectMsg .input p {
  color: #E33333;
  font-weight: 600;
}
.form-swal ul.rejectMsg.evt input {
  margin-left: 14px;
}
.form-swal ul.txHash a {
  color: #1d61d6;
  text-decoration: underline;
}
.form-swal ul li p {
  color: #1B1C1E;
  font-size: 13px;
}
.form-swal ul li p span.username {
  margin-left: 14px;
}
.form-swal ul li p span.linked {
  margin-left: 8px;
}
.form-swal ul li.colJenisSediaan {
  display: flex;
  align-items: center;
}
.form-swal ul li.label {
  font-weight: 600;
  text-align: left;
  margin-right: 6px;
  width: 26%;
}
.form-swal ul li.label label {
  font-size: 13px;
  color: #1B1C1E;
}
.form-swal ul li.label1 {
  width: 36%;
}
.form-swal ul li.label-1 {
  width: 22%;
}
.form-swal ul li.input {
  text-align: left;
  font-size: 12px;
}
.form-swal ul li.input a {
  color: #1B1C1E;
  text-decoration: none;
}
.form-swal ul li.input a:hover {
  color: #1d61d6;
  text-decoration: underline;
}
.form-swal ul li.input a i {
  margin-left: 6px;
}
.form-swal ul li.input select {
  font-family: "Instrument Sans", sans-serif;
  background-color: rgba(242, 243, 245, 0.6196078431);
  border: none;
  margin: 10px 0;
  padding: 8px 6px;
  font-size: 14px;
  border-radius: 4px;
  color: #1B1C1E;
  background-color: transparent;
  border: solid 1px #A6A6A6;
  width: 100%;
}
.form-swal ul li.input select:focus {
  outline: none !important;
  box-shadow: none !important;
}
.form-swal ul li.input select#rejectReason {
  margin: 0;
}
.form-swal ul li.input input {
  background-color: #fff;
  border: solid 1px #A6A6A6;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 4px;
  color: #1B1C1E;
  width: -webkit-fill-available;
  padding: 6px 10px;
  font-size: 13px;
}
.form-swal ul li.input input::-moz-placeholder {
  font-family: "Instrument Sans", sans-serif;
  color: #1B1C1E;
  font-style: italic;
}
.form-swal ul li.input input::placeholder {
  font-family: "Instrument Sans", sans-serif;
  color: #1B1C1E;
  font-style: italic;
}
.form-swal ul li.input input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.form-swal ul li.input input:-moz-read-only {
  background-color: rgba(242, 243, 245, 0.6196078431);
  color: #737373;
}
.form-swal ul li.input input:read-only {
  background-color: rgba(242, 243, 245, 0.6196078431);
  color: #737373;
}
.form-swal ul li.input input:-moz-read-only {
  background-color: rgba(242, 243, 245, 0.6196078431);
}
.form-swal ul li.input input:read-only {
  background-color: rgba(242, 243, 245, 0.6196078431);
}
.form-swal ul li.input textarea {
  font-family: "Instrument Sans", sans-serif;
  background-color: #fff;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 4px;
  width: -webkit-fill-available;
  padding: 6px 10px;
  font-size: 13px;
  border: solid 2px #A6A6A6;
}
.form-swal ul li.input textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}
.form-swal ul li.input textarea:-moz-read-only {
  background-color: rgba(242, 243, 245, 0.6196078431);
}
.form-swal ul li.input textarea:read-only {
  background-color: rgba(242, 243, 245, 0.6196078431);
}
.form-swal ul li.input.full-width-table {
  width: 100%;
}
.form-swal ul li.input-1 {
  width: 76%;
}
.form-swal ul li.select select {
  margin: 0;
  background-color: transparent;
  border: solid 1px #A6A6A6;
}
.form-swal ul li.select input {
  width: 100%;
}
.form-swal.full ul li.input {
  width: 68%;
}

div:where(.swal2-container) div:where(.swal2-actions) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 20px;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  border-radius: 10px;
  font-family: "Instrument Sans", sans-serif;
  padding: 14px 0;
}

div:where(.swal2-icon) {
  margin: 20px auto;
}

div:where(.swal2-container) input:where(.swal2-input), div:where(.swal2-container) input:where(.swal2-file), div:where(.swal2-container) textarea:where(.swal2-textarea), div:where(.swal2-container) select:where(.swal2-select), div:where(.swal2-container) div:where(.swal2-radio), div:where(.swal2-container) label:where(.swal2-checkbox) {
  margin: 12px 2em;
}

div:where(.swal2-container) .swal2-input {
  background-color: #fff;
  border: solid 1px #A6A6A6;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 4px;
  color: #A6A6A6;
  width: -webkit-fill-available;
  border: solid 1px #A6A6A6;
}
div:where(.swal2-container) .swal2-input::-moz-placeholder {
  font-family: "Instrument Sans", sans-serif;
  color: #A6A6A6;
  font-style: italic;
}
div:where(.swal2-container) .swal2-input::placeholder {
  font-family: "Instrument Sans", sans-serif;
  color: #A6A6A6;
  font-style: italic;
}
div:where(.swal2-container) .swal2-input:focus {
  outline: none !important;
  box-shadow: none !important;
}
div:where(.swal2-container) .swal2-input:-moz-read-only {
  background-color: rgba(242, 243, 245, 0.6196078431);
  color: #737373;
}
div:where(.swal2-container) .swal2-input:read-only {
  background-color: rgba(242, 243, 245, 0.6196078431);
  color: #737373;
}

div:where(.swal2-icon).swal2-success {
  border-color: #a5dc86;
  color: #a5dc86;
}

div:where(.swal2-icon).swal2-info {
  border-color: rgb(157, 224, 246);
  color: #3fc3ee;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  padding: 20px 16px 4px;
  font-family: "Instrument Sans", sans-serif;
  font-size: 24px;
  color: #1B1C1E;
}

div:where(.swal2-container) .swal2-html-container {
  font-family: "Instrument Sans", sans-serif;
  margin: 0;
  padding: 10px 20px;
  color: #A6A6A6;
}

.scrollable-modal {
  height: 480px !important;
}

.scrollable-modal-small {
  height: 280px !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  font-family: "Instrument Sans", sans-serif;
  background-color: #530AF7;
  color: #fff;
  font-size: 16px;
  padding: 10px 14px;
  border: none;
  border-radius: 4px;
}
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm):hover {
  background-color: #3b06b4;
  cursor: pointer;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
  font-family: "Instrument Sans", sans-serif;
  background-color: #E33333;
  color: #fff;
  font-size: 16px;
  padding: 10px 14px;
  border: none;
  border-radius: 4px;
}
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel):hover {
  background-color: #b61919;
  cursor: pointer;
}

div:where(.swal2-container) div:where(.swal2-actions) {
  margin: 10px 0 0;
}

h5 {
  font-family: "Instrument Sans", sans-serif;
  font-size: 24px;
  margin: 0;
}

p {
  font-family: "Instrument Sans", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #A6A6A6;
}

ul.noList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.noList li {
  margin-bottom: 4px;
}

ul.numbered {
  list-style-type: decimal;
  list-style-position: outside;
  padding: 0;
  margin: 0;
  padding-left: 12px;
  color: #1B1C1E;
  text-align: start;
}
ul.numbered li p {
  display: inline;
  margin-left: 0;
}

button.addQuantity {
  background-color: #1d61d6;
  color: #fff;
  font-size: 12px;
  padding: 8px 10px;
  border: none;
  border-radius: 7px;
}
button.addQuantity:hover {
  background-color: #144497;
  cursor: pointer;
}
button.addQuantity i {
  margin-right: 8px;
}/*# sourceMappingURL=SweetAlert.css.map */